.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 15%;
  text-align: center;
}

.main-head {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.yellow {
  height: 4px;
  width: 100px;
  background-color: #ffca28;
  margin: 2% 0;
}

.para {
  line-height: 1.5;
  margin-bottom: 2.7%;
}

.cards {
  width: 80%;
}

.repair {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
}

.content-repair {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  text-align: center;
}

.img-rep {
  max-width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
  .desc {
    margin: 2rem 5%;
  }
  .repair {
    flex-direction: column;
    align-items: center;
  }
}
